[Desktop Entry]
Name=Media Bitrate Viewer
Comment=Inspect video bitrate over time
Icon=mediabitrateviewer
Exec=MediaBitrateViewer.App %F
Terminal=false
Type=Application
Categories=AudioVideo;Video;
