<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>MediaBitrateViewer</string>
    <key>CFBundleDisplayName</key>
    <string>Media Bitrate Viewer</string>
    <key>CFBundleIdentifier</key>
    <string>com.mediabitrateviewer.desktop</string>
    <key>CFBundleVersion</key>
    <string>VERSION_PLACEHOLDER</string>
    <key>CFBundleShortVersionString</key>
    <string>VERSION_PLACEHOLDER</string>
    <key>CFBundleExecutable</key>
    <string>MediaBitrateViewer.App</string>
    <key>CFBundleIconFile</key>
    <string>mediabitrateviewer.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Common Video Container</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mp4</string>
                <string>m4v</string>
                <string>mkv</string>
                <string>webm</string>
                <string>mov</string>
                <string>avi</string>
                <string>ts</string>
                <string>mts</string>
                <string>m2ts</string>
                <string>mpg</string>
                <string>mpeg</string>
                <string>mpe</string>
                <string>flv</string>
                <string>wmv</string>
                <string>asf</string>
                <string>3gp</string>
                <string>3g2</string>
                <string>ogv</string>
                <string>mxf</string>
            </array>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.movie</string>
                <string>public.video</string>
                <string>public.audiovisual-content</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
